*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
.container{
    width: 95%;
    margin: auto;
}
body{
    nav{
        .container{
            .navbar{
                margin: 2% 0%;
                display: flex;
                justify-content: space-between;
                 .logo{

            }
            .links{
                ul{
                    display: flex;
                    list-style: none;
                    li{
                        margin-right: 10px;
                        a:hover{
                            color: #ec5b53;
                        }
                        a{
                            text-decoration: none;
                            color: black;
                        }
                    }
                }
            }
            }
           
        }
    }
}