.header{
    background-color: black;
       padding: 0% 10%;
        display: flex;
        align-items: center;
}
.logo{
    width: 20%;
    background-color: black;
    color: yellow;
    display: flex;
    justify-content: center;
}
.logo p{
    font-weight: 900;
    font-size: 140%;
}
